.cards {
  display: inline-block;
  border: 1px solid black;
  padding: 50px;
  margin: 1%;
  width: 100px;
  height: 100px;
  vertical-align: middle;
  background-color: black;
  border: 1px solid grey;
  color: white;
}
